EVENTGRID_ENDPOINT=https://<seu-topico>.eventgrid.azure.net/api/events
EVENTGRID_KEY=<sua-chave-event-grid>
STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<conta>;AccountKey=<chave>;EndpointSuffix=core.windows.net
