SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://SEU-NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=SEU-POLICY;SharedAccessKey=SUA-CHAVE
SERVICE_BUS_QUEUE_NAME=fila-notas-view-out
HTML_OUTPUT_PATH=./saida/resumo-notas.html