SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://SEU-NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=SEU-POLICY;SharedAccessKey=SUA-CHAVE
SERVICE_BUS_QUEUE_NAME=fila-notas-out
EVENT_GRID_TOPIC_ENDPOINT=https://topic-resumo-notas.eastus-1.eventgrid.azure.net/api/events
EVENT_GRID_ACCESS_KEY=SUA-CHAVE-EVENT-GRID